/* Contenedor principal del perfil */
.profile-container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Open Sans', sans-serif;
}

/* Título del perfil */
.user-title {
    font-size: 1.8rem;
    color: #0066ff;
    font-weight: bold;
    margin-bottom: 20px;
    border-bottom: 2px solid #ececec;
    padding-bottom: 10px;
}

/* Datos del usuario */
.user-data p {
    font-size: 1.2rem;
    color: #464853;
    margin: 10px 0;
    text-align: left;
    padding: 10px 15px;
    border-left: 4px solid #0066ff;
    background-color: #f7f7f7;
    border-radius: 5px;
}

/* Estilos de los botones */
.actions {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 30px;
}

/* Botón genérico */
.btn {
    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    padding: 10px 20px; /* Padding similar al de los botones */
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
    width: 100%;
    max-width: 350px; /* Limita el tamaño máximo del botón */
}

/* Botón de actualizar */
.btn-primary {
    background-color: #0066ff;
    color: #fff;
    border: none;
}

.btn-primary:hover {
    background-color: #004bbd;
    box-shadow: 0 0 10px rgba(0, 102, 255, 0.5);
}

/* Botón de eliminar */
.btn-danger {
    background-color: #ff4444;
    color: #fff;
    border: none;
}

.btn-danger:hover {
    background-color: #cc0000;
    box-shadow: 0 0 10px rgba(255, 68, 68, 0.5);
}

/* Estilos para los inputs, textareas y selects */
.form-input, 
.form-textarea, 
.form-select {
    box-sizing: border-box;
    width: 100%;
    font-size: 1rem;
    padding: 8px 10px;
    border: 1px solid #9CA3AF;
    border-radius: 5px;
    font-family: system-ui, 'Segoe UI';
    margin-bottom: 20px;
    max-width: 350px; /* Limita el tamaño máximo del input */
}

/* Responsividad */
@media screen and (max-width: 768px) {
    .profile-container {
        width: 90%;
    }
    
    .actions {
        flex-direction: column;
    }
    
    .btn {
        width: 100%;
    }
}
