/**Estatica returns**/
.container-requirements-return {
    display: flex;
    flex-direction: column;
    place-items: center;
    gap: 25px;

    & p,
    h1,
    h2,
    h3,
    a,
    ul,
    li {
        text-decoration: none;
        margin: 0;
    }

}

/**BOTONES**/
.container-btn {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;

    & .btn-return {
        box-sizing: border-box;
        padding: 10px;
        border-radius: 5px;
        font-weight: bold;
        transition: all 0.1s ease-in;
        border: none;

        &:hover {
            transform: scale(1.05);
        }
    }

    & .st-btn-one {
        color: #f6f6f6;
        background-color: #2f32ec;
    }

    & .st-btn-two {
        color: #2f32ec;
        background-color: transparent;
        border: 1px solid #2f32ec;
    }


}



/**Diferrent Styles**/
.container-rules-return, .container-form-return {
    margin-top: 25px;
    display: flex;
    flex-direction: column;
/*     justify-content: center;
    align-items: center; */
    gap: 15px;

    & .title-return {
        width: fit-content;
        color: #2f32ec;
        font-size: 2.3rem;
    }

    & .list-requirements li {
        list-style-type: square;
        margin-bottom: 15px;
    }



}

.form-return {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 10px;

    & div {
        box-sizing: border-box;
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 5px;

        & input,
        textarea,
        select {
            box-sizing: border-box;
            width: 100%;
            font-size: 1rem;
            padding: 8px 10px;
            border: 1px solid #9CA3AF;
            border-radius: 5px;
            font-family: system-ui, 'Segoe UI';
        }

        & textarea {
            resize: none;
            height: 120px;
        }
    }
}

/** TABLE **/

.container-table-return {
    /* margin: 0 5%; */
    width: 90%;
    overflow-y: auto;
    border-radius: 5px;
    box-shadow: 0 0 15px #2253;

    & table {
        width: 100%;
        text-align: center;
        border-radius: 5px;
        border-collapse: collapse;

        & a {
            text-decoration: underline;
        }
    }

    & th {
        border: none;
        padding: 8px 4px;
        border-bottom: 1px solid #d6d6d6;
    }

    & thead {
        background-color: #2f32ec;
        color: #f7f7f7;
    }

    & td {
        border: none;
        padding: 8px 6px;
        border-bottom: 1px solid #d6d6d6;

        & span {
            padding: 4px 4px;
            border-radius: 5px;
        }
    }
}

.container-list-return{
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;

    & .title-return {
        width: fit-content;
        color: #2f32ec;
        font-size: 2.3rem;
    }
}

@media screen and (max-width: 1400px) {
    .hidden-col {
        display: none;
    }
}