body {
  box-sizing: border-box;
  margin: 0;
  background-color: #fefefe;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  display: flex;
  min-height: 100dvh;
  flex-direction: column;
}

main{
    margin-bottom: 50px;
}

/*Scroll bar*/
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background: #464853;
  border-radius: 15px;
  border: #ececec 2px solid;
}
/*Scroll bar*/

a {
  text-decoration: none;
}

header {
  width: 100%;
  padding: 20px 60px;
  display: flex;
  border-bottom: 2px #ececec solid;
  align-items: center;
  justify-content: space-around;
  box-sizing: border-box;

  & a {
    color: #464853;
  }

  & .logo-div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    cursor: pointer;

    & h1 {
      margin: 0;
    }
  }

  & .nav-links {
    display: flex;
    gap: 2vw;
  }

  & .nav-button {
    box-sizing: border-box;
    border: 2px solid #0066ff;
    padding: 8px 8px;
    background-color: transparent;
    color: #0066ff;
    border-radius: 5px;
    cursor: pointer;
  }
}

footer {
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  gap: 5px 55px;
  justify-content: center;
  padding: 15px;
  margin: 0;
  margin-top: auto;
  border-top: 2px #ececec solid;
  background-color: #f7f7f8;
  width: 100%;
}

/**Responsive**/

@media screen and (max-width: 1020px) {
  header {
    gap: 15px 0;
    height: auto;
    flex-direction: column;
    padding-bottom: 10px;
  }
}
